---
import type { Menu } from '~/utils/menu';
import MenuItemGrid from './MenuGridItem.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  menu: Menu;
}

const { menu } = Astro.props;
---

<div class="flex text-3xl items-center mb-4 px-2 text-accent gap-2">
  <Icon name={menu.icon} />
  <h4>{menu.title}</h4>
</div>
<div class="grid grid-flow-row gap-4">
  {
    menu.categories.map((category) => (
      <>
        <div>
          <h6 class="text-lg mb-3 lg:text-center text-left bg-accent/40">{category.title}</h6>
          {category.subtitle && (
            <h6 class="text-sm mb-3 lg:text-center text-left text-muted italic">{category.subtitle}</h6>
          )}
        </div>
        <div class="grid lg:grid-cols-2 gap-2">
          {category.items.map((item) => (
            <MenuItemGrid {...item} />
          ))}
        </div>
      </>
    ))
  }
</div>
