---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import { SITE } from 'astrowind:config';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { fetchTestimonials } from '~/utils/testimonial';

const metadata = {
  title: SITE.name,
  ignoreTitleTemplate: true,
};

const testimonials = await fetchTestimonials();
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->
  <Hero2 image={{ src: '~/assets/images/beach_big_ben.png', alt: "Illustration d'une plage avec big ben au loin" }}>
    <Fragment slot="title">
      <span class="text-accent highlight">L'Angleterre</span> n'aura jamais été aussi près de <span
        class="text-accent highlight">la Corse</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Situé au cœur de la plage de <span class="font-semibold">Cala Rossa</span>, le Bar des Anglais est notre petite
      entreprise <span class="font-semibold">familiale</span>, où vous pourrez savourer un <span class="font-semibold"
        >moment de détente</span
      > dans un cadre pittoresque à l’ombre des pins.
    </Fragment>
  </Hero2>
  <Stats
    stats={[
      {
        icon: 'tabler:mood-smile',
        title: 'Un accueil chaleureux',
      },
      {
        icon: 'tabler:beach',
        title: 'Au bord de la plage',
      },
      {
        icon: 'tabler:confetti',
        title: 'Une ambiance festive',
      },
      {
        icon: 'tabler:pig-money',
        title: 'Excellent rapport qualité-prix ',
      },
    ]}
  />
  <Testimonials title="Ils parlent de nous" subtitle="et c'est en bien en plus..." testimonials={testimonials} />
</Layout>
